<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="margin:2em;">
<h2>Person Form</h2>

<form method="post" id="personForm" class='incomeForm' data-cities-url="{% url 'ajax_load_cities' %}" data-income-url="{% url 'ajax_load_income' %}">
    {% csrf_token %}

    <span>
        <b>My name is</b>
    </span>
    <input type="text" name="name" maxlength="124" required id="id_name" placeholder=" Your Name" size="8" style="border:0;">

    <span>
        <b> My gender is</b>
    </span>
    <select name="gender" id="id_gender" style="border:0;">
        <option value="" selected>Select Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
    </select>

    <span><b>My Position is</b></span>
    <select name="position" id="id_position" style="border:0;">
        <option value="" selected>Select Position</option>
    </select>

    <span id='income' style="display:none;">
       <span><b> I earn</b></span>
            <label for="id_income">Income(Rs):</label><input type="number" name="income" step="any" id="id_income" maxlength="6" size="6" style="border:0;">
        <span><b>Annually</b></span>
    </span>

    <span>
        <b>Are you married?</b>
    </span>
    <input class="form-check-input" type="checkbox" name="married" id="id_married" style="margin-left:0em;margin-top:0.5em;">
    <label class="form-check-label" for="id_married" style="margin-left:1em;">Yes</label>

    <span>
        <b>Select your birth date</b>
    </span>
    <input type="date" name="birth_date" id="id_birth_date"  max=''>
    <input type="submit" value="Submit">

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_gender").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view

        const genderId = $(this).val();  // get the selected gender ID from the HTML input
        $("#income").hide();
        $("#id_income").val('');
        $("#id_position").html('<option value="">---------</option>');


        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'gender_id': genderId       // add the gender id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_position").html(data);  // replace the contents of the position input with the data that came from the server
                data
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (position) {
                    html_data += `<option value="${position.id}">${position.name}</option>`
                });
                console.log(html_data);
                $("#id_position").html(html_data);

                */
            }
        });

    });

     $("#id_position").change(function () {
        const url2 = $(".incomeForm").attr("data-income-url");
        $("#income").hide();
        $("#id_income").val('');
        const positionId = $(this).val();

        $.ajax({
            url: url2,
            data: {
                'position_id': positionId
            },
            success: function (data) {
                console.log(data);
                $("#id_income").html(data);
                if (data == 'show'){
                    $("#income").show();
                }
                else {
                    $("#income").hide();
                }
            }
        });

    });

    $(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear() - 18 ;

    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;
    $('#id_birth_date').attr('max', maxDate);
    });

</script>

</body>
</html>