<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Download</title>
   <meta charset="utf-8">
    <title>Sales Report</title>
    <style type="text/css">
     @page {
            size: A4;
            margin: 1cm;
        }
    </style>
</head>
<body>

<center><h1 style="margin-top:2em;">Purchase Deed</h1></center>

<div style="margin:2em;font-size:20px;">

  THIS AGREEMENT of sale made at {{deed.place}} on {{day}} day of {{month}} {{year}}
  , between {{deed.name}} resident of
  {{deed.address}} hereinafter called the Vendor of the ONE PART
  and {{deed.seller_name}} resident of
  {{deed.seller_address}} hereinafter called the BUYER of the OTHER PART.

  <br>
  <br>

  WHEREAS the vendor is absolutely seized and possessed of or well and sufficiently
  entitled to the house more fully described in the Schedule hereunder:
  AND WHEREAS the vendor has agreed to sell his house to the BUYER on the terms and
  conditions hereafter set-forth

</div>
</body>
</html>